
.about {
    background-color: #c4d7d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    background-color: #5f9595;
    padding: .5rem 1rem;
}

.about-text {
    width: 50%;
      
}

.drawing {
    width: 50%;
        img {
            width: 100%;
        }
}

.about-container {
    display:flex;
    align-items:center;
}



//responsive

@media (max-width: 960px) {
    .about-container {
        flex-direction: column;
    }

    .drawing {
        width: 70%;
    }

    .about-text {
        width: 80%;
    }
}

@media (max-width: 783px) {
    .drawing {
        width: 80%;
    }

     .about-text {
        width: 100%;
    }
}

@media (max-width: 610px) {
    
     .drawing {
        width: 90%;
    }

    .about h1 {
        font-size: 50px;
    }

}

@media (max-width: 500px) {
        .drawing {
            width: 105%;
        }
}

