footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B3D4F;
    
}

footer p {
    color: white;
    letter-spacing: 1px;
}

footer a {
    padding: 3px;
    
}

.copyright a{
    color: white
}

