
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.site-text,
.site-image {
    width: 43%;
    // margin:2rem;

}

.site-text {
    justify-content: center;
    align-items: center;
}

