

.portfolio {
    background-color: #3E8E96;
    padding: 4rem 0;
}

.site-image img {
    box-shadow: 20px 20px #C4D7D1;;
}


.image-2 img {
   
    box-shadow: -20px 20px #C4D7D1;;
}



.portfolio h1 {
    color: #C4D7D1;
    width: 50%;
    padding: 1rem;

}

.websites {
    margin-left: 12rem;
    
}

.text-1 {
    text-align: right;
        .site-location {
            justify-content: flex-end;
        }
}

.website {
    margin-top: 2rem;
}

.portfolio h2 {
    padding: 1rem 0;
}


.site-image {
    margin-top: 2rem;
    padding: 0 1rem;
}

.site-text,
.site-image {
    width: 50%;
}

.site-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;

   
}


.site-location {
    display: flex;
}

.site-location h2 {
    padding: .2rem;
}

