.portfolio h1 {
    width: 25rem;
    font-size: 60px;
    // margin-left: 5rem;
    // display: flex;
    // padding-top: 15rem;
}

.portfolio {
    display: flex;
    justify-content: center;
    align-content: center;
}

.websites {
    width: 50%;
}