

.skills {
    background-color: #D1E7CC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-container {
    display:flex;
}

.skills-text, .skills-icons {
    background-color: #3E8E96;
    width:50%;
}






