.skills {
    background-color: #F3DD7B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icons i {
    padding:3rem;
    font-size: 40px;
    color:  #2B3D4F;
}

.icons i:hover,
.vs i:hover {
    transform: scale(1.08);
}

//responsive 

@media(max-width: 1378px) {
    .icons i {
        padding: 2rem;
    }
}

@media(max-width: 1054px) {
    .icons i {
        padding: 1rem;
    }
}







