@import "../partials/_setup";
@import "../partials/_nav";
@import "../partials/about";
@import "../partials/portfolio";
@import "../partials/contact";
@import "../partials/skills";
@import "../partials/header";
@import "../partials/link-decoration";
@import "../partials/typed-h2";
@import "../partials/header-arrow";
@import "../partials/footer";



// overall styles

.wrapper {
    width: 80%;
    margin: 0 auto;
    
}

section {
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}


h1{
    margin: 0;
    font-family: 'Oswald';
    font-size: 60px;
    color: #1B2A49;
}

p {
    font-family: 'open sans condensed';
    font-size: 19px;
    letter-spacing: .5px;
    color: #222222;
}

h2,
h3 {
    font-family: 'Oswald';
    color: #1B2A49;
    margin: 0;
    padding: 0;
}












