@import "../partials/_setup";
@import "../partials/_nav";
@import "../partials/about";
@import "../partials/portfolio";
@import "../partials/contact";
@import "../partials/skills";
@import "../partials/header";
@import "../partials/header-links";
@import "../partials/typed-h2";





// overall styles

.wrapper {
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
}


h1{
    margin: 0;
    font-family: 'Oswald';
    font-size: 60px;
    color: #1B2A49;
}

p {
    font-family: 'open sans condensed';
    font-size: 18px;
    letter-spacing: .5px;
    color: #222222;
}

section {
    min-height: 100vh;
    
}





