article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

nav {
  position: fixed;
  right: 0;
  margin-left: 2rem;
  top: 10rem;
  width: 8rem;
  z-index: 10;
  margin-right: 0.5rem;
}

ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul li a {
  color: #222222;
  display: inline-block;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about {
  background-color: #c4d7d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.highlight {
  background-color: #5f9595;
  padding: .5rem 1rem;
}

.about-text {
  width: 50%;
}

.drawing {
  width: 50%;
}

.drawing img {
  width: 100%;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 960px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .drawing {
    width: 70%;
  }
  .about-text {
    width: 80%;
  }
}

@media (max-width: 783px) {
  .drawing {
    width: 80%;
  }
  .about-text {
    width: 100%;
  }
}

@media (max-width: 610px) {
  .drawing {
    width: 90%;
  }
  .about h1 {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .drawing {
    width: 105%;
  }
}

.portfolio {
  background-color: #3E8E96;
  padding: 4rem 0;
}

.site-image img {
  -webkit-box-shadow: 20px 20px #C4D7D1;
          box-shadow: 20px 20px #C4D7D1;
}

.image-2 img {
  -webkit-box-shadow: -20px 20px #C4D7D1;
          box-shadow: -20px 20px #C4D7D1;
}

.portfolio h1 {
  color: #C4D7D1;
  width: 70%;
  padding: 1rem;
}

.websites {
  margin-left: 12rem;
}

.text-1 {
  text-align: right;
}

.text-1 .site-location {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.website {
  margin-top: 2rem;
}

.portfolio h2 {
  padding: 1rem 0;
}

.site-image {
  margin-top: 2rem;
  padding: 0 1rem;
}

.site-text,
.site-image {
  width: 50%;
}

.site-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
}

.site-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-location h2 {
  padding: .2rem;
}

@media (max-width: 954px) {
  .website {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-image,
  .site-text {
    width: 100%;
  }
}

@media (max-width: 690px) {
  .portfolio h1 {
    font-size: 40px;
  }
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
}

.website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  height: 100%;
}

.contact {
  background-color: #f0bc68;
  height: 100vh;
}

.contact h1 {
  margin-left: 16rem;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact form input,
textarea {
  font-size: 1rem;
  width: 100%;
  padding: .5rem;
  margin: .7rem 0;
  color: black;
  letter-spacing: 1px;
  background: #fff;
  border: none;
  border-bottom: 1px solid black;
  background-color: #F3DD7B;
  -webkit-appearance: none;
  outline: none;
}

.submit {
  background-color: #1B2A49;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
  height: 9rem;
}

.headshot {
  height: 300px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
}

.contact-info {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F3DD7B;
}

@media (max-width: 1079px) {
  .headshot {
    display: none;
  }
  .contact-info {
    padding: 1rem;
  }
  .contact form {
    padding: 0;
  }
}

@media (max-width: 745px) {
  .contact h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 3rem;
  }
}

@media (max-width: 500px) {
  .contact form {
    width: 100%;
  }
}

.skills {
  background-color: #F3DD7B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons i {
  padding: 3rem;
  font-size: 40px;
  color: #2B3D4F;
}

@media (max-width: 1378px) {
  .icons i {
    padding: 2rem;
  }
}

@media (max-width: 1054px) {
  .icons i {
    padding: 1rem;
  }
}

header {
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5DAD5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 125px;
  text-align: center;
}

#typed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: inline-block;
}

.header-box {
  background-color: #EE9772;
  padding: 9rem 7.5rem;
}

.about-link,
.contact-link,
.portfolio-link {
  margin-top: 1.5rem;
}

@media (max-width: 1241px) {
  header .header-box {
    padding: 1px;
  }
  header h1 {
    font-size: 120px;
  }
  .links {
    display: none;
  }
}

@media (max-width: 1081px) {
  header h1 {
    font-size: 110px;
  }
  header .typed-container {
    font-size: 30px;
  }
  nav {
    position: static;
    margin: 0;
  }
  nav ul {
    margin-left: 0;
    padding-left: 0;
  }
  nav li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 840px) {
  header h1 {
    font-size: 100px;
  }
  header .typed-container {
    font-size: 20px;
  }
}

@media (max-width: 646px) {
  header h1 {
    font-size: 90px;
  }
  ul li a {
    padding: 1.3rem;
    font-size: 1.3rem;
  }
  header .typed-container {
    font-size: 19px;
  }
  header .wrap img {
    left: 44%;
  }
}

@media (max-width: 556px) {
  header h1 {
    font-size: 60px;
    margin: 2rem 0;
  }
  header .typed-container {
    margin: 2rem 0;
  }
}

.links {
  margin: 1rem;
  position: absolute;
  left: 0;
  top: 16rem;
  width: 8rem;
  z-index: 10;
  margin-right: 0.5rem;
}

.contact-email {
  text-align: right;
  margin-right: 16rem;
}

a {
  text-decoration: none;
  color: #1B2A49;
  font-family: 'oswald';
  font-size: 25px;
}

a, a:visited {
  text-decoration: none;
  position: relative;
  color: #1B2A49;
}

a:after, a:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #EE9772;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover:after, a:visited:hover:after {
  width: 100%;
}

.typed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 35px;
  font-family: 'b612 mono';
}

.typed-cursor.typed-cursor--blink {
  margin: 0 .4rem;
}

.wrap img {
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  height: 50px;
  width: auto;
}

.bounce {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation: bounce 3.6s ease infinite;
          animation: bounce 3.6s ease infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5.55556% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  11.11111% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  22.22222% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  27.77778% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  33.33333% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  44.44444% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5.55556% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  11.11111% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  22.22222% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  27.77778% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  33.33333% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  44.44444% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2B3D4F;
}

footer p {
  color: white;
  letter-spacing: 1px;
}

footer a {
  padding: 3px;
}

.copyright a {
  color: white;
}

.skills {
  background-color: #F3DD7B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons i {
  padding: 3rem;
  font-size: 40px;
  color: #2B3D4F;
}

@media (max-width: 1378px) {
  .icons i {
    padding: 2rem;
  }
}

@media (max-width: 1054px) {
  .icons i {
    padding: 1rem;
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

section {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

h1 {
  margin: 0;
  font-family: 'Oswald';
  font-size: 60px;
  color: #1B2A49;
}

p {
  font-family: 'open sans condensed';
  font-size: 19px;
  letter-spacing: .5px;
  color: #222222;
}

h2,
h3 {
  font-family: 'Oswald';
  color: #1B2A49;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */